{{ redmine_rails_environment }}:
  email_delivery: {% if not redmine_mail_smtp_enable %}null
  {% else %}

    delivery_method: :smtp
    smtp_settings:
      enable_starttls_auto: {{ redmine_mail_smtp_starttls|bool()|lower }}
      address: {{ redmine_mail_smtp_host }}
      port: {{ redmine_mail_smtp_port }}
      domain: "{{ redmine_mail_smtp_domain }}"
{% if redmine_mail_smtp_authentication %}
      authentication: :{{ redmine_mail_smtp_authentication }}
      user_name: "{{ redmine_mail_smtp_username }}"
      password: "{{ redmine_mail_smtp_password }}"
{%- endif -%}{%- endif -%}
